*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #8dc63f;
    font-family: "Arial";
}

.wrapper{
    padding: 0 15px;
    margin: 0 auto;
    max-width: 960px;
    background-color: #fff;
    box-sizing: border-box;
}

.header {
    padding: 25px 0;
}

.flex-between {
    display: flex;
    justify-content: space-between;
}

.logo{
    column-gap: 34px;
}

.logo p{
    color: #39930d;
    font-size: 22px;
}

.logo b {
    color: #39930d;
    font-size: 44px;
    display: block;
}

.logo i{
    font-size: 14px;
    color: #5a5a5a;
}

.contacts p  {
    color: #39930d;
    font-size: 22px;
    text-align: right;
}

.contacts i  {
    display: block;
    font-size: 14px;
    color: #5a5a5a;
}

.main{
    padding-top: 25px;
    padding-bottom: 29px;
}

.main-text{
    max-width: 540px;
}

.main-text h1{
    margin-bottom: 17px;
    font-size: 24px;
    color: #39930d;
    font-weight: bold;
}

.main-text p{
    margin-bottom: 17px;
    font-size: 14px;
    line-height: 1.5em;
    color: #343434;
}

.menu p{
    background-color: #39930d; 
    width: 300px;
    padding: 11px 43px;
    font-size: 18px;
    color: #ffffff;
}

.menu ul{
    padding: 20px;
    list-style: none;
}

.menu a{
    color: #39930d;
    font-size: 14px;
    line-height: 30px;
    text-decoration: underline;
    text-transform: uppercase;
}

.footer p{
    margin: -15px;
    color: #fff;
}

.footer p{
    padding: 14px;
    background-color: #39930d;
}